body {
    text-align: center;
}

h1 {
    font-size: 28px;
    line-height: 100px;
    margin-bottom: 10px;
    color: white;
}

p {
    font-size: 20px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    text
}